*{
	padding: 0%;
	margin: 0%;
	box-sizing: border-box;
}
body{
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url("./images/pattern-background-mobile.svg");
	background-color: hsl(225, 100%, 94%);
	background-size: 100vw 24vh;
	background-repeat: no-repeat;
	font-family: 'Red Hat Display', sans-serif;
	overflow: scroll;
}
main{
	height: 93vh;
	width: 85vw;
	max-width: 24rem;
	min-width: 20rem;
	min-height: 30rem;
}
#info{
	width: 80%;
}
.price-details{
	float: left;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 14px 29px 14px 10px;
	border-radius: 15px;
	width: 91%;
	background-color: hsl(225, 100%, 98%);
	margin-bottom: 4px;
}
#top-section{
	display: flex;
	justify-content: center;
	height: 30%;

}
#top-section>img{
	width: 100%;
	height: 100%;
	border-radius: 19px 19px 0px 0px;
}
#bottom-section{
	background-color: lightgrey;
	text-align: center;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	background-color: white;
	height: 70%;
	padding: 1rem;
	border-radius: 0px 0px 19px 19px;
}
.button-container{
	width: 100%;
	display: flex;
	justify-content: center;
}
button{
	background-color: blue;
	color: white;
	height: 4rem;
	font-weight: 900;
	font-size: 1.1rem;
	width: 95%;
	padding: 10px;
	border-radius: 10px;
	outline: none;
	border-color: transparent;
}
button:hover, a:hover{
	cursor: pointer;
	text-decoration: none;
}
a{
	color: hsl(245, 75%, 52%);
}
.cancel-link{
	text-decoration: none;
}
#period{
	font-size:  1rem;
	font-weight: bold
}
p, .cancel{
	color: hsl(224, 23%, 55%);
}
@media only screen and (min-width: 600px) {
  body {
    background-image: url("./images/pattern-background-desktop.svg");
    background-size: 100vw 45vh;
  }
}